body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

header {
  background-color: #ffffff;
  color: rgb(193, 0, 0);
  padding: 1rem;
  text-align: center;
}

section {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ccc;
}

h1, h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

code {
  background-color: #f8f8f8;
  padding: 2px 4px;
  border-radius: 4px;
}

pre {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  white-space: pre-wrap;
}
